<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <script src="https://kit.fontawesome.com/8a42449199.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">  
     <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     -->
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <div class="container-fluid">
        <div class="navbar23">
            <div class="logo">
                <a href="">BASE<span>SHOP</span></a>
            </div>
            <div class="links" id="links">
                <ul>
                    <li><a href="{{url_for('home')}}" class="active">Home</a></li>
                    
                    <li><a href="{{url_for('contact')}}">Contact</a></li>

                    {%if 'username' in session %}
                    <li><a href="#">Cart</a></li>
                    <li><a href="{{url_for('profile')}}"><i class="fa-solid fa-user"></i></a> </li>
                    <li><a href="{{url_for('logout')}}">Logout <i class="fa-solid fa-right-from-bracket"></i></a></li>
                    {% else %}
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    <li><a href="{{url_for('register')}}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="menu">
                <img src="{{url_for('static',filename='images/menu.jpg')}}" id="menu" alt="">
            </div>
        </div>
    </div>

     <script src="{{url_for('static',filename='bootstrap/js/bootstrap.js')}}"></script> 


    <script>
        var links=document.getElementById('links');
        var menu=document.getElementById('menu');

        menu.onclick=function(){
            if(links.style.right=='-300px'){
                links.style.right='3%';
                menu.src="{{url_for('static',filename='images/x-icon.jpg')}}";
                
            }
            else{
            links.style.right='-300px';
            menu.src="{{url_for('static',filename='images/menu.jpg')}}";
        }
        }
        
    </script>

    {% block content %}
    {% endblock %}




<div class="sections">
    <div class="rowl">
        <div class="colo">
            <h2 style="color: orange;">About us</h2>
            <p>Where you can find our shop:</p>
            <p>Nairobi <span>Westlands</span> <br>Mombasa  <span>Along Likoni road</span> <br>Nakuru  <span>Opposite KCB bank</span> <br>Eldoret  <span>Near Egerton university</span></p>
        </div>
        <div class="colo">
            <h1>BASE<span>STORE</span></h1>
            <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of our products to the many.</p>
            
        </div>
        <div class="colo">
            <div class="differ">
                <h1>ONLINE<span>SHOP</span></h1>
                <div class="logo">
                    <img src="{{url_for('static',filename='images/logo.jpg')}}" alt="">
                </div>
            </div>
        </div>
        
    </div>
</div>



    {% block footer%}
    {% endblock %}


</body>
</html>

