{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
<style>
    .section{
        height: 90vh;
        background-image:linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7) ),url("{{url_for('static',filename='images/bg.jpg')}}") ;
    }
</style>

<div class="section">
<div class="box3">
    <h2>Login</h2>
    {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category,msg in messages %}
      
        <div class="alert alert-{{category}} alert-dismissible fade show  name" role="alert" >
          <strong> {{msg}}</strong>
          <button type="button" class="btn-close name1" data-bs-dismiss="alert" aria-label="close"></button>
      </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="" method="POST">
    <input type="text" placeholder="Enter Username" name="username" value="{{username}}">
    <input type="password" placeholder="Enter Your Password" name="password" value="{{password}}"><br>
    <button type="submit" class="btn btn-success">Sign in</button>
</form>
    <p>Dont't have an Account ? <a href="{{url_for('register')}}">Register</a></p>
</div>
</div>

{% endblock %}

